<div class="add-house-page">
    <input type="text" name="homeowner-input" id="homeowner-input"></input>
    <input type="text" name="address-input" id="address-input"></input>
    <input type="text" name="color-input" id="color-input"></input>
    <input type="text" name="up-input" id="up-input"></input>
    <input type="text" name="down-input" id="down-input"></input>
    <input type="text" name="neighborhood-input" id="neighborhood-input"></input>
    <input type="text" name="paid-input" id="paid-input"></input>
    <input type="text" name="payment-type-input" id="payment-type-input"></input>
    <button id="add-house-btn">Add House</button>
</div>